<div class="match-card_">
    <div class="match-details-header_">
        <!-- match score and date details---------------- -->
        <div class="match-score-and-date_">
            <!-- <div class="score_">
                <div class="cricket-score_">
                    <div class="total-over_">0</div>
                    <div class="over_">over</div>
                    <div class="total-score_">111/3</div>
                </div>
            </div> -->
            <div class="date-time_">
                <!-- <div class="date_">20/12/2025</div>
                <div class="time_">9:30 PM</div> -->
                <img [lazyLoad]="'assets/sports-table-icons/watchIcon.svg'" alt="Lazy Loaded Image"/>
            </div>

        </div>
        <!-- match teams------------ -->
        <div class="match-teams-info_">
            <div class="team_ 1">Lake city panthers</div>
            <div class="team_ 2">Markhors</div>
        </div>
        <div class="match-tv-and-point_">
            <div class="point_"></div>
            <img [lazyLoad]="'assets/sports-table-icons/tvIcon.svg'" alt="Lazy Loaded Image"
                class="provider-card-image_" />
        </div>
    </div>
    <div class="match-odds-row_">
        <div class="match-odds-row-container_">
            <!-- match odd box---------- -->
            <div class="match-odds-box_">
                <div class="odd-label_">0</div>
                <div class="match-odds-box-container_">
                    <div class="back-odd_">11.7</div>
                    <div class="lay-odd_">8.8</div>
                </div>
            </div>
            <!-- end of match odd box-- -->
            <!-- match odd box---------- -->
            <div class="match-odds-box_">
                <div class="odd-label_">1</div>
                <div class="match-odds-box-container_">
                    <div class="back-odd_">11.7</div>
                    <div class="lay-odd_">8.8</div>
                </div>
            </div>
            <!-- end of match odd box-- -->
            <!-- match odd box---------- -->
            <div class="match-odds-box_">
                <div class="odd-label_">2</div>
                <div class="match-odds-box-container_">
                    <div class="back-odd_">11.7</div>
                    <div class="lay-odd_">8.8</div>
                </div>
            </div>
            <!-- end of match odd box-- -->
        </div>
    </div>
</div>