<div class="bottom-navigation_">
    <div class="bottom-navigation-container_">
        <div class="menu_">
            <img class="menu-icon_" src="assets/bottom-navigation-icons/casinoIcon.svg" alt="">
            <div class="menu-name_">casino</div>
        </div>
        <div class="menu_">
            <img class="menu-icon_" src="assets/bottom-navigation-icons/sportsIcon.svg" alt="">
            <div class="menu-name_">sports</div>
        </div>
        <div class="menu_ home_">
            <div class="home-gradient_">
                <img class="menu-icon_ home_" src="assets/bottom-navigation-icons/homeIcon.svg" alt="">
            </div>
        </div>
        <div class="menu_">
            <img class="menu-icon_" src="assets/bottom-navigation-icons/openBetsIcon.svg" alt="">
            <div class="menu-name_">open bets</div>
        </div>
        <div class="menu_">
            <img class="menu-icon_" src="assets/bottom-navigation-icons/menuIcon.svg" alt="">
            <div class="menu-name_">menu</div>
        </div>
    </div>
</div>